---
import CardCaracteristica from '../components/CardCaracteristica.astro';
import CardModuloGeneral from '../components/CardModuloGeneral.astro';
import BasePaginas from '../layouts/BasePaginas.astro';
//import Caracteristicas from '../layouts/Caracteristicas.astro';


const cardDataCaracteristicas = [
  {
    claseIcono: 'fa-handshake',
    titulo: 'Seguridad de Datos',
    descripcion: 'Garantizamos que toda la información médica almacenada y transmitida esté protegida contra accesos no autorizados.'
  },
  {
    claseIcono: 'fa-cogs',
    titulo: 'Accesibilidad',
    descripcion: 'Permite a los profesionales de la salud acceder a los expedientes médicos y administrar recursos desde cualquier dispositivo con conexión a Internet.'
  },
  {
    claseIcono: 'fa-user-md',
    titulo: 'Facilidad de Uso',
    descripcion: 'MedicData roporciona una experiencia de usuario sencilla y eficiente, reduciendo la curva de aprendizaje y aumentando la productividad del personal clínico.'
  }]


  const cardDataModuloGeneral = [
  {
    imgSrc: '/img/expeds.png',
    imgAlt: 'Expedientes',
    claseIcono: 'fa-folder-open',
    titulo: 'Expedientes',
    descripcion: 'Este módulo se centra en la recolección y gestión de los datos médicos iniciales del paciente. ',
    linkHref: '"#"'
  },
  {
    imgSrc: '/img/fotoconsultas.png',
    imgAlt: 'Consultas',
    claseIcono: 'fa-stethoscope',
    titulo: 'Consultas',
    descripcion: 'Este módulo ayuda a los médicos a decidir si un paciente necesita ser ingresado basándose en una lista de criterios predefinidos.',
    linkHref: '"#"'
  },
  {
    imgSrc: '/img/ca.png',
    imgAlt: 'Control de Camas',
    claseIcono: 'fa-procedures',
    titulo: 'Control de Camas',
    descripcion: 'Facilita la visualización y gestión de la disponibilidad de camas en la clínica para la posterior asignación a pacientes.',
    linkHref: '"#"'
  },
  {
    imgSrc: '/img/cntrl.png',
    imgAlt: 'Control de Internos',
    claseIcono: 'fa-procedures',
    titulo: 'Control de Internos',
    descripcion: 'El módulo de control de internos permite gestionar y monitorear la situación de los pacientes ingresados.',
    linkHref: '"#"'
  },
  {
    imgSrc: '/img/dash.png',
    imgAlt: 'Dashboard',
    claseIcono: 'fa-tachometer-alt',
    titulo: 'Dashboard',
    descripcion: 'El módulo de dashboard proporciona un panel que permite monitorear la evolución de los pacientes ingresados.',
    linkHref: '"#"'
  },
  
  ]


---

<BasePaginas title='MedicData'>
	<div class="flex flex-col h-auto">
    
    <div class="py-80 banner flex flex-col items-center justify-center bg-hero-pattern bg-no-repeat bg-center bg-cover h-auto sm:h-96 md:h-80 lg:h-96 w-full">
      <h2 class="titulo-banner mb-4 font-bold uppercase text-white">MedicData</h2>
      <h3 class=" mb-4 font-bold uppercase text-white">SISTEMA DE ADMISIÓN DE PACIENTES</h2>
    <br>
    <p class="sm:px-10 md:px-30 lg:px-52 mb-4 text-center text-white">Bienvenidos al website de MedicData, un sistema avanzado diseñado específicamente para la gestión eficiente de expedientes médicos en clínicas privadas. Nuestra plataforma integra funcionalidades para administrar historiales médicos, datos de consulta, y la gestión de camas y pacientes internados, proporcionando una solución integral que optimiza la operación y mejora la atención al paciente en entornos clínicos.</p>
      <br>
      <a href="/mod" class="inline-block mt-4 p-4 border-2 border-transparent rounded-md no-underline text-white bg-sky-500 hover:bg-sky-700">
        Saber Más
      </a>
    </div>
    
    <div class="h-2/6 sm:h-4/6 md:h-4/6 lg:h-3/6">
      <div class=" bg-gradient-to-r from-sky-500 to-indigo-900 flex flex-col items-center justify-center bg-no-repeat bg-center bg-cover h-auto -full">
        <h2 class="titulo-banner mb-4 font-bold uppercase text-white pt-5">CARACTERÍSTICAS</h2>
        <div class="flex flex-col sm:flex-row md:flex-row pb-7 items-center justify-center"> 
          {cardDataCaracteristicas .map((card, index) => (
          <CardCaracteristica 
            claseIcono={card.claseIcono}
            titulo={card.titulo}
            descripcion={card.descripcion}
          />
        ))}
        </div>
        </div>
      
      <div class="h-96 bg-fixed bg-cover bg-center bg-no-repeat bg-separador1-pattern sm:h-72 md:h-72 lg:h-96"></div>
      
      <div class=" bg-gradient-to-r from-sky-500 to-indigo-900 flex flex-col items-center justify-center bg-no-repeat bg-center bg-cover h-auto -full">
        <h2 class="titulo-banner mb-4 font-bold uppercase text-white pt-5">FUNCIONALIDADES</h2>
        <div class="flex flex-wrap gap-3 pb-7 p-3 justify-center"> 
          {cardDataModuloGeneral.map((card) => (
            <CardModuloGeneral
              imgSrc={card.imgSrc}
              imgAlt={card.imgAlt}
              claseIcono={card.claseIcono}
              titulo={card.titulo}
              descripcion={card.descripcion}
              linkHref={card.linkHref}
            />
          ))}
        </div>
        
        </div>
    </div>
  

</BasePaginas>
