---

import CardModulo from '../components/CardModulo.astro';


const cardDataModulo = [
  {
    titulo: 'Módulo de Dashboard',
    descripcion: 'Proporciona una visión general de la clínica en tiempo real, incluyendo estadísticas clave, alertas importantes y un resumen de la ocupación de camas, consultas programadas y el estado de los expedientes. Este módulo facilita la toma de decisiones rápidas y basadas en datos, ofreciendo a los administradores y al personal médico una vista consolidada de las operaciones diarias.',
    urlImagen1: '/src/img/consultass.png',
    urlImagen2: '/src/img/1.webp',
    urlImagen3: '/src/img/cama.png'
  },
  {
    titulo: 'Módulo de Expedientes',
    descripcion: ' Permite la creación, almacenamiento y acceso a los expedientes médicos de los pacientes, incluyendo su historial médico, diagnósticos previos, tratamientos y notas clínicas. Tiene la finalidad: Mantener un registro detallado y accesible de la información médica de los pacientes, mejorando la precisión del diagnóstico y el tratamiento, y asegurando la continuidad del cuidado.',    urlImagen1: '/src/img/consultass.png',
    urlImagen2: '/src/img/1.webp',
    urlImagen3: '/src/img/cama.png'
  },
  {
    titulo: 'Módulo de Consultas',
    descripcion: 'Permite a los médicos registrar los datos de cada consulta, incluyendo signos vitales, síntomas, diagnósticos, tratamientos y recomendaciones. Su finalidad es proporcionar un registro completo y preciso de cada consulta médica, mejorando la calidad del cuidado, facilitando el seguimiento del paciente y asegurando la coherencia en los tratamientos administrados.',
    urlImagen1: '/src/img/consultass.png',
    urlImagen2: '/src/img/1.webp',
    urlImagen3: '/src/img/cama.png'
  },
  {
    titulo: 'Módulo de Control de Camas',
    descripcion: 'Permite administrar la disponibilidad y ocupación de las camas en la clínica, asignando camas a los pacientes internos y actualizando su estado en tiempo real. Esto permite la utilización de las camas y recursos hospitalarios, reduciendo tiempos de espera y mejorando la eficiencia operativa.',
    urlImagen1: '/src/img/consultass.png',
    urlImagen2: '/src/img/1.webp',
    urlImagen3: '/src/img/cama.png'
  },
  {
    titulo: 'Módulo de Control de Internos',
    descripcion: 'Facilita el seguimiento y la administración de los pacientes que están internados, incluyendo su ubicación, estado, historial de movimientos dentro de la clínica y necesidades específicas y así segurar una atención continua y de alta calidad para los pacientes internados, mejorando la coordinación entre el personal médico y administrativo.',
    urlImagen1: '/src/img/consultass.png',
    urlImagen2: '/src/img/1.webp',
    urlImagen3: '/src/img/cama.png'
  }
];

---

<div class="flex flex-wrap gap-3 pb-7 justify-center w-5/6 items-center">
  {cardDataModulo.map((card) => (
    <CardModulo
      titulo={card.titulo}
      descripcion={card.descripcion}
      urlImagen1={card.urlImagen1}
      urlImagen2={card.urlImagen2}
      urlImagen3={card.urlImagen3}
    />
  ))}
</div>
